*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    width: 100%;
    height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}

/* per loader */
.loader_box{
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loader {
    width: .3rem;
    height: 2rem;
    border-radius: 3rem;
    background-color: Aqua;
}
.A{
    animation: load linear infinite .5s ;
}
.B{
    animation: load  linear infinite .7s;
}
.C{
    animation: load  linear infinite  .9s ;
}
.D{
    animation: load  linear infinite 1.2s;
}
@keyframes load {
    0%{
        transform: scaleY(0);
    }
    50%{
        transform: scaleY(1);
    }
    100%{
        transform: scale(.1);
    }
}

/* Animation for Photo  */
.main_container_photo{
    animation:moving 5s infinite linear;
}
@keyframes moving {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(1rem);
    }
    50%{
        transform: translateY(0rem);
    }
    75%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

/* Main  */

.main{
    display: none;
}


img{
    width: 100%;
    height: 100%;
}


.AboutMe{
    margin-top: 2.5rem;
    padding: .8rem 3rem;
    border-radius: 3rem;
    background-color: orange;
    font-size: 1.2rem;
    font-weight:bold;
    overflow: hidden;
}
.AboutMe a{
    color: #fff;
    text-decoration: none;
}
.AboutMe p:hover{
    transform: scale(1.08);
    transition: .8s;
    cursor: pointer;
}


/* gear */
.fa-gear{
    color: #000;
    animation: rotate 2s linear infinite ;
}
@keyframes rotate {
    100%{
        transform: rotate(1turn);
    }
}
.color_selector{
    width: 180px;
    height: auto;
    background-color: #fff;
    padding:  0rem 1rem;
    position: fixed;
    top: 28%;
    left: 0%;
    display: none;
}
.color_selector p{
    color: #000;
    font-size: 1.1rem;
    padding: .8rem 0;
}

.color_selector i
{
    font-size: 1.7rem;
    padding: 0 .8rem .5rem 0;
    cursor: pointer;
}
#cross{
    color: black;
    padding: .3rem;
    font-size: 1.2rem;
    margin-left: .2rem;
    background-color: whitesmoke;
    cursor: pointer;
}

/* dark and light mode */
.light{
   display: none;
}
.light_dark_mode i{
    padding: 0 .2rem ;
    font-size: 1.3rem;
    color: #fff;    
}  


/* nav barr */
.box .a{
    display: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}
.box .b{
    color: #fff;
    font-size: 1.2rem;
} 

/* menu bar */
.menu_bar{
    font-size: 1.1rem;
    color: #fff;
    padding-left: 1.8rem;
}








@media screen and (min-width: 1025px) {
    /* gear */
    .color_changer
    {
        font-size: 1.6rem;
        position: fixed;
        top: 30%;
        left: -1%;
        color: black;
        background-color: #fff;
        padding: 1rem;
        padding-left: 1.3rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; 
        cursor: pointer;  
        z-index: 10;
    }

    .main_container_bio_nav{
        width: 8rem;
        display: flex;
        align-items:end;
        flex-direction:  column;
        position: fixed;
        top: 28%;
        right: 3%;
        gap: 2rem;
    }
    .main_container_bio_nav .box:hover{
        width: 8rem;
        border-radius: 30px;
        cursor: pointer;
        overflow: hidden;
        transition: .8s ;
    
        justify-content:space-evenly;
        .box,a{
            display: inline;
            transition-delay: 1s ;
        }
    }
    .light_dark_mode{
        position: fixed;
        top: 4%;
        right: 3%;
        cursor: pointer;
        padding: .5rem;
        border-radius:  1rem  3rem;
        background-color: inherit;
        background-color: orange;
    }
    .mode_text{
        font-size: 1rem;
        color: #fff;
    } 
    .main_container{
        height:100vh;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .main_container_photo {
        width: 27rem;
        height: 38rem;
        margin-left: 2rem;
        border-radius: 1.1rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 1rem #000;
    }
    .main_container_bio{
        width: 63%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    } 
    .main_container_bio{
        width: 63%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    }
    .p1{
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .name{
        font-size: 3rem;
        line-height: 4rem;
    }
    .name1{
        color: orange;
        font-weight: 600;
    }
    .p2{
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2rem;
    }
    .main_container_bio-text  {
        margin-right: 9rem;
        padding: 2rem;
        font-weight: 600;
    }
    .main_container_photo_border {
        width: 15%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
    }
    .box{
        width: 3rem;
        height: 3rem;
        background-color:orange;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_bar{
        display: none;
    }
}



@media screen and (max-width: 1024px) {
    /* gear */
    .color_changer
    {
        font-size: 1.6rem;
        position: fixed;
        top: 30%;
        left: -1%;
        color: black;
        background-color: #fff;
        padding: 1rem;
        padding-left: 1.1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; 
        cursor: pointer;  
        z-index: 10;
    }

    .side
    {
        background-color: #000000df;
        width:100%;
        position: fixed;
        top: 0%;
        padding: 2.2rem 0;
    }
    .main_container_bio_nav{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction:  row;
        position: fixed;
        top: .8rem;
        gap: 2rem;
        right: calc(100% - 65%);
    }
    .light_dark_mode{
        position: fixed;
        top: 1.2rem;
        right: 3%;
        cursor: pointer;
        padding: .5rem;
        border-radius:  1rem  3rem;
        background-color: inherit;
        background-color: orange;
    }
    .mode_text{
        font-size: 1rem;
        color: #fff;
    } 
    .main_container{
        height: 100vh;
        width: 100%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .main_container_photo
    {
        width: 26rem;
        height: 35rem;
        margin-left: 2rem;
        border-radius: 1.1rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 1rem #000;
        top: 4%;
    }
    .main_container_bio{
        width: 63%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
    }
    .main_container_bio-text  {
        padding: 2rem;
        font-weight: 600;
    }
    .p1{
        font-size: 1.8rem;
        line-height: 3rem;
        font-weight: 700;
    }
    .name{
        font-size: 2.2rem;
        line-height: 4rem;
    }
    .name1{
        color: orange;
        font-weight: 600;
        font-size: 2.2rem;
    }
    .p2{
        line-height: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .main_container_photo_border
    {
        width: 20%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
    }
    .box{
        width: 3rem;
        height: 3rem;
        background-color:orange;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_bar
    {
        display: none;
    }    
}
@media screen and (max-width:768px) {
    /* gear */
    .color_changer
    {
        font-size: 1.6rem;
        position: fixed;
        top: 30%;
        left: -1%;
        color: black;
        background-color: #fff;
        padding: .5rem .5rem;
        padding-left: .2rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem; 
        cursor: pointer;  
        z-index: 10;
    }

    .side{
        background-color: #000000df;
        width:100%;
        position: fixed;
        top: 0%;
        padding: 1.7rem 0;
    }
    .main_container_bio_nav{
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction:  row;
        position: fixed;
        top: .8rem;
        gap: 1rem;
        right: calc(100% - 65%);
    }
    .main_container{
        height: auto;
        width: 100%;
        display: inline-block;
        flex-direction:row-reverse;
        position: relative;
        background-color: transparent;

    }
    .main_container_photo_border
    {
        width: 50%;
        height: 38rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_container_photo
    {
        width: 22rem;
        height: 30rem;
        margin: 6rem auto  3rem;
        border-radius: 1.1rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 1rem #000;
    }
    
    .main_container_bio{
        width: auto;
        text-transform: capitalize;
        position: relative;
    }
    .main_container_bio-text  {
        padding: 2rem;
        font-weight: 600;
    }
    .p1{
        font-size: 1.3rem;
        line-height: 3rem;
    }
    .name{
        font-size: 1.9rem;
        line-height: 4rem;
    }
    .name1{
        color: orange;
        font-weight: 600;
        font-size: 1.9rem;
    }
    .p2{
        line-height: 1.6rem;
        font-size: 1.1rem;
    }
    .light_dark_mode{
        width: 2rem;
        height: 2rem;
        background-color:orange;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        top: .8rem;
    }
    .mode_text{
        display: none;
    } 
    .box{
        width: 2rem;
        height: 2rem;
        background-color:orange;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}
@media screen and (max-width:700px) {
    .personal_info_details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2rem;
    }
    .info_name,.info_details{
        font-size: 1rem;
        font-weight: 600;
    }
}
